.bubule-a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 150px;
  left: 150px;
  background: linear-gradient(45deg, rgba(0, 147, 200, 0.712), rgb(0, 255, 238));
  animation: bubule 0.7s ease-out, bubule1 12s infinite;     
}

.bubule-b{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: fixed;  
  top: 570px;
  left: 10px;
  background: linear-gradient(45deg, rgb(255, 34, 34), rgb(239, 24, 24));
  animation: bubule 0.7s ease-out, bubule1 12s infinite;     
}

.bubule-c{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 400px;
  left: 380px;
  background: linear-gradient(45deg, rgb(0, 152, 48), rgb(0, 255, 115));
  animation: bubule 0.7s ease, bubule3 16s infinite;     
}
.bubule-d{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 50px;
  left: 800px;
  background: linear-gradient(45deg, rgb(179, 232, 65), rgb(234, 255, 0));
  animation: bubule 0.7s ease, bubule4 16s infinite;     
}
.bubule-e{
  width:27px;
  height: 27px;
  border-radius: 50%;
  position: fixed;
  top: 210px;
  left: 340px;
  background: linear-gradient(45deg, rgb(179, 232, 65), rgb(234, 255, 0));
  animation: bubule 0.7s ease, bubule2 16s infinite;     
}

.bubule-f{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: fixed;
  top: 280px;
  left: 580px;
  background: linear-gradient(120deg, rgba(221, 65, 232, 0.711), rgb(255, 0, 238));
  animation: bubule 0.7s ease, bubule3 16s infinite;     
}

.bubule-g{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 600px;
  left: 550px;
  background: linear-gradient(90deg, #2d62e9, #0842f2);
  animation: bubule 0.7s ease, bubule1 10s infinite;
}

.bubule-h{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: fixed;
  top: 460px;
  left: 180px;
  background: linear-gradient(45deg, #0daaff, #0048ff);
  animation: bubule 0.7s ease, bubule2 15s infinite;
}

.bubule-i{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 180px;
  left: 1200px;
  background: linear-gradient(45deg, #48f13c, #00ff11);
  animation: bubule 0.7s ease, bubule2 18s infinite;
}

.bubule-j{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 350px;
  left: 800px;
  background: linear-gradient(45deg, #2bde55, #11ff00);
  animation: bubule 0.7s ease, bubule3 12s infinite;
}

.bubule-k{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 250px;
  left: 950px;
  background: linear-gradient(45deg, #ff4894, #f40464);
  animation: bubule 0.7s ease, bubule4 20s infinite;
}

.bubule-l{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: fixed;
  top: 600px;
  left: 180px;
  background: linear-gradient(45deg, #0daaff, #00aeff);
  animation: bubule 0.7s ease, bubule2 15s infinite;
}

.bubule-m{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: fixed;
  top: 610px;
  left: 950px;
  background: linear-gradient(45deg, #b2ff23, #e1ff00);
  animation: bubule 0.7s ease, bubule4 16s infinite;
}

.bubule-n{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: fixed;
  top: 350px;
  left: 1100px;
  background: linear-gradient(45deg, #c72be6, #ff00b3);
  animation: bubule 0.7s ease, bubule4 18s infinite;
}

.bubule-o{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: fixed;
  top: 680px;
  left: 1310px;
  background: linear-gradient(45deg, #27efe9, #00aaff);
  animation: bubule 0.7s ease, bubule2 9s infinite;
}

.bubule-p{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 50px;
  left: 550px;
  background: linear-gradient(45deg, #ef3d3d, #ff0000);
  animation: bubule 0.7s ease, bubule4 17s infinite;
}



#bubu{
    z-index: -1;
}

.imagefond{
    position:fixed;
    width: 90%;
    z-index: -1;
    margin-top: 2%;
    margin-left: 5%;
    opacity: 20%;
}


@keyframes bubule {
    from{ top: 50%; left: 50%; z-index: 1;}
    to {z-index: 1;}
}

@keyframes bubule1 {
    0% {
        transform: translateY(0);
    }   
    50%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes bubule3 {
    0% {
        transform: translateY(0);
    }   
    50%{
        transform: translateY(80px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes bubule2 {
    0% {
        transform: translateY(0);
    }   
    50%{
        transform: translateY(-120px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes bubule4 {
    0% {
        transform: translateY(0);
    }   
    50%{
        transform: translateY(120px);
    }
    100%{
        transform: translateY(0);
    }
}