.menu-button {
    position: fixed;
    top: 40px;        
    right: 105px;     
    width: 67px;
    height: 67px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
    z-index: 8888;
}

.menu-button::before,
.menu-button::after {
    content: "";
    width: 19px;         
    height: 3px;        
    background: #333;  
    position: absolute;
}

/* trait du haut */
.menu-button::before {
    transform: translateY(-3px);
}

/* trait du bas */
.menu-button::after {
    transform: translateY(3px);
}



header>.logonoir{
    width: 30%;
    max-width: 350px;
    margin-left: 30px;
    min-width: 300px;
    top: -100px;
    z-index: 9999;
    position: fixed;        
}

footer>.gamefreak{
    text-align: left;
    padding: 40px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>a{
    text-align: left;
    padding: 40px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body>h1{
    display: flex;
    justify-content: center;
    font-size: 300%;
}

footer > a {
    position:fixed;
    bottom:0%;
}