
/* Tableau */
.tableau {
    margin-left: 100px;
    padding: 30px;
}

.tableau h2 {
  margin-bottom: 20px;
}


/* Table */
table {
  width: 80%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

th {
  background-color: #2c3e50;
  color: white;
}



td a {
  text-decoration: none;
  color: inherit;
}


tr:hover {
  background-color: #dceeff;
  cursor: pointer;
}

.menu-button {
    position: fixed;
    top: 40px;        
    right: 105px;     
    width: 67px;
    height: 67px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
}

.menu-button::before,
.menu-button::after {
    content: "";
    width: 19px;         
    height: 3px;        
    background: #333;  
    position: absolute;
}

/* trait du haut */
.menu-button::before {
    transform: translateY(-3px);
}

/* trait du bas */
.menu-button::after {
    transform: translateY(3px);
}
