/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
}

.filtres {
  width: 30%;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  margin-top: 100px;
  margin-left: 32%;
  height: fit-content;
}

/* Titre filtres */
.filtres h2 {
  text-align: center;
  margin-bottom: 50px;
}


option{
  font-size: 20px;
}

select{
  font-size: 20px;
}

.bouton{
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: linear-gradient(rgb(50, 148, 253),rgb(94, 36, 255));
  color: rgb(0, 0, 0);
  width: 50%;
  text-decoration: none;
  text-align: center;
  margin-left: 25%;
    margin-top: 20px;
}

.bouton:hover{
  color: aliceblue;
  background: linear-gradient(red,black);
  transform: scale(1.2);

}


/* Conteneur du label */
.date{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    width: 230px;
    gap: 10px;
   margin-bottom: 25px; 
}

/* Texte du label */
.date span{
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-left: 40px;
}

/* Style du input date */
.date input[type="date"] {
    padding: 12px 14px;
    border-radius: 10px;
    border: 2px solid #d0d0d0;
    background: white;
    font-size: 1rem;
    transition: 0.3s ease;
    cursor: pointer;
}

/* Effet quand on clique ou passe la souris */
.date:hover {
    border-color: #7a5cff;
    background: #f5f2ff;
}
