header>.l1{
  width: 30%;
  max-width: 350px;
  margin-left: 5%;
  min-width: 250px;
  margin-top: -300px;
  position: fixed;
}

table{
  display: flex;
  justify-content: center;
  border: 2px;
}

table>tbody>tr>th{
  padding: 30px;
  border: 20px;
}

h2{
  display: flex;
  justify-content: center;
}

body>form{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body>form li{
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}



/* ---- Footer ---- */
footer {
    text-align: left;
    padding: 40px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moisdejanvier {
  display: none;
}

/* Quand la case est cochée → on affiche */
#janvier:checked ~ .moisdejanvier {
  display: block;
}


