/* ---- Style général ---- */


*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #8ba3e8, #98e0d2);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ---- Menu centré ---- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    text-align: center;
    padding-top: 60px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: inline-block;
    padding: 15px;
}

.site{
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 5%;
    right: 5%;
    gap: 15px;
}

footer a{
    text-decoration: none;
    color: azure;
}
