h1{
    margin-top:120px;
    margin-bottom: 50px;
}

section {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 400px;
    background: linear-gradient(40deg, rgb(225, 223, 223), rgb(205, 240, 247));
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin: 20px;
    margin-bottom: 0px;
    height: 30%;
    min-height: 130px;
    animation: filtre 2s ease;
}

#infos{
    height: 30%;
    min-height: 300px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    width: 800px;
    padding: 30px;
}

label {
    justify-content: center;
}

.date {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.date span {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Style du input date */
.date input[type="date"] {
    padding: 12px 14px;
    border-radius: 10px;
    border: 2px solid #d0d0d0;
    background: white;
    font-size: 1rem;
    transition: 0.3s ease;
    cursor: pointer;
}

h2 {
    justify-content: center;
    margin-bottom: 50px;
}

select {
    font-size: 1rem;
    
}