h1{
    margin-top:200px;
    margin-bottom: 150px;
}

/* Conteneur du label */
.date{
    display: flex;
    flex-direction:column;
    font-size: 1.1rem;
    width: 230px;
    gap: 10px;
    margin-bottom: 25px; 
}

/* Texte du label */
.date span{
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-left: 60px;
}

/* Style du input date */
.date input[type="date"] {
    padding: 12px 14px;
    border-radius: 10px;
    border: 2px solid #d0d0d0;
    background: white;
    font-size: 1rem;
    transition: 0.3s ease;
    cursor: pointer;
}

/* Effet quand on clique ou passe la souris */
.date:hover {
    border-color: #7a5cff;
    background: #f5f2ff;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

select {
    font-size: 1rem;
    
}