h1 {
    margin-top: 140px;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}

.section-dates,
.section-infos {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 40px;
}

aside {
    background: linear-gradient(40deg, rgb(225, 223, 223), rgb(205, 240, 247));
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.dates {
    width: 300px;
}

.date {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.date span {
    text-align: center;
    font-weight: bold;
}

.date input {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #d0d0d0;
}

#infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    width: 900px;
    padding: 30px;
    margin: 0 auto;
}

.colonne {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.champ {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.champ label {
    font-weight: bold;
}

.input,
textarea,
input[type="file"] {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #d0d0d0;
    font-size: 1rem;
}

.bouton {
    display: block;
    margin: 50px auto;
    padding: 15px 40px;
    font-size: 1.2rem;
    border-radius: 12px;
    border: 2px solid #333;
    background: white;
    cursor: pointer;
}

footer {
    text-align: center;
    margin: 40px 0;
}