
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #8ba3e8, #98e0d2);
    color: #000;
    min-height: 100vh;
}


.logo {
    width: 250px;
    height: 50px;
    font-size: 12px;
    text-align: center;
}

main {
    position: relative;
    padding: 40px;
    top: 150px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.bloc {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    min-width: 120px;
    height: auto;
    min-height: 120px;
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 4px;
    margin-bottom: 40px;
    background-color: rgba(255,255,255,0.2);
}

.bloc > .reserve{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 220px;
    max-width: 420px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px
}

#location{
   background: linear-gradient(145deg, #e6713b, #e6a10d); 
}

#covoiturage{
  background: linear-gradient(145deg, #cdcccc, #a6dbdd);  
}

.reserve:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}

.reserve > .infos{
    text-align: left;
    line-height: 20px ;

}
.reserve > .image {
  width: 65%;
  border-radius: 14px;
  margin-top: 20px;
}

footer{
    color: white; 
}

h3{
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 80%;
}

