
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #8ba3e8, #98e0d2);
    color: #000;
    min-height: 100vh;
}


.logo {
    width: 250px;
    height: 50px;
    font-size: 12px;
    text-align: center;
}

main {
    position: relative;
    padding: 40px;
    top: 150px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.bloc {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    min-width: 120px;
    height: auto;
    min-height: 120px;
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 4px;
    margin-bottom: 40px;
    background-color: rgba(255,255,255,0.2);
}

.bloc > .reserve {
 display: flex;
 flex-direction: row;
justify-content: center;
  background: linear-gradient(145deg, #cdcccc, #a6dbdd);
  width: auto;
  height: 220px;
  max-width: 420px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px
}

.reserve:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}

.reserve > .infos{
    text-align: left;

}
.reserve > .image {
  width:auto;
  margin-top: 25px;
  border-radius: 14px;
}

footer{
    color: white;
  
}


