

/* Pour etre cote a cote */
main {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}


h1{
  text-align: center;
  margin-top: 7%;
}

input{
    transform: scale(1.4);
    margin: 3%;
}


.filtres {
  width: 100%;
  max-width: 400px;
  background: linear-gradient(40deg, rgb(225, 223, 223), rgb(205, 240, 247));
  padding: 2%;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  margin: 20px;
  height: 30%;
  min-height: 300px;
  animation: filtre 2s ease;
}

.filtres h2 {
  text-align: center;
  margin-bottom: 20px;
}

.filtres select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background-color: #f9f9f9;
}  

.zonetext textarea {
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 20px;
}

aside>label{
    display: block;
    flex-direction: column;
}

datalist>option{
  font-size: 20px;
  size: 20px;
  width: 100%;
  padding: 20px;
}

.label{
  text-align: center;
}

.input{
  border: solid 0.5px rgb(216, 193, 239);
  display: block;
  margin: 10px auto;
  background-color: #f4f9fa;
  border-radius: 20px;
}

.input:hover{
  transform: scale(1.7);
  transition: 0.5s;
}

#fichier{
  font-size: 50%;
  margin-left: 15%;
}

.labellistedesjours{
  margin-left: 10%;
}

#villedepart{
  margin-bottom: 20%;
}

#nombre{
  margin-bottom: 20%;
}

div{
  display: flex;
  justify-content: center;
}

button {
    display: block;
    margin: 50px auto;
    padding: 15px 40px;
    font-size: 1.2rem;
    border-radius: 12px;
    border: 2px solid #333;
    background: white;
    cursor: pointer;
    padding: 1.5%;
    background-color: cornflowerblue;
    border: #aaa;
    border-radius: 20px;
    margin-top: 3%;
}


button:hover{
  background-color: rgb(55, 106, 195);
  transform: scale(1.2);
  transition: 0.5s
}



