
/* Filtres */
body{
  font-family: Arial, sans-serif;
}

.filtres {
  position: absolute;
  width: 20%;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  margin-top: 50px;
}

/* Titre filtres */
.filtres h2 {
  text-align: center;
  margin-bottom: 20px;
}



.label{
  text-align: center;
  font-size: 15px;
}

.input{
  border: solid 0.5px rgb(216, 193, 239);
  display: block;
  margin: 10px auto;
  background-color: #f4f9fa;
  padding: 10px;
  border-radius: 20px;
}

.input:hover{
  transform: scale(1.2);
  transition: 0.5s;
}


aside>label{
    display: block;
    flex-direction: column;
}

.recherche {
  width: 15%;
  height: fit-content;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.alignement{
  display: flex;
  flex-wrap: wrap;
  margin-left: 400px;
  gap: 20px;
}


