.bubule-a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 150px;
  left: 150px;
  background: linear-gradient(45deg, rgba(0, 147, 200, 0.712), rgb(0, 255, 238));
  animation: bubule 0.7s ease-out, bubule1 12s infinite;     
}

.bubule-b{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: fixed;
  top: 550px;
  left: 300px;
  background: linear-gradient(45deg, rgba(56, 189, 237, 0.662), rgb(32, 199, 255));
  animation: bubule 0.7s ease-out, bubule1 12s infinite;     
}

.bubule-c{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 300px;
  left: 420px;
  background: linear-gradient(45deg, rgb(0, 152, 48), rgb(0, 255, 115));
  animation: bubule 0.7s ease, bubule3 16s infinite;     
}
.bubule-d{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 150px;
  left: 460px;
  background: linear-gradient(45deg, rgba(179, 232, 65, 0.711), rgb(234, 255, 0));
  animation: bubule 0.7s ease, bubule2 16s infinite;     
}
.bubule-e{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 210px;
  left: 340px;
  background: linear-gradient(45deg, rgba(179, 232, 65, 0.711), rgb(234, 255, 0));
  animation: bubule 0.7s ease, bubule2 16s infinite;     
}

#bubu{
    z-index: -1;
}

.imagefond{
    position:fixed;
    width: 90%;
    z-index: -1;
    margin-top: 2%;
    margin-left: 5%;
    opacity: 20%;
}


@keyframes bubule {
    from{ top: 50%; left: 50%; z-index: 1;}
    to {z-index: 0; }
}

@keyframes bubule1 {
    0% {
        transform: translateY(0);
    }   
    50%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes bubule3 {
    0% {
        transform: translateY(0);
    }   
    50%{
        transform: translateY(80px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes bubule2 {
    0% {
        transform: translateY(0);
    }   
    50%{
        transform: translateY(-120px);
    }
    100%{
        transform: translateY(0);
    }
}