
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #8ba3e8, #98e0d2);
    color: #000;
    min-height: 100vh;
}


.logo {
    width: 250px;
    height: 50px;
    font-size: 12px;
    text-align: center;
}

main {
    position: relative;
    padding: 40px;
    top: 150px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.bloc {
    width: 100%;
    height: 80px;
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 4px;
    margin-bottom: 40px;
    background-color: rgba(255,255,255,0.2);
}

footer{
    color: white;
    position: relative;
    bottom: -175px;

}


