
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #8ba3e8, #98e0d2);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 40%;
    max-width: 350px;
    min-width: 250px;
    margin-top: -100px;
    position: fixed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    text-align: center;
    padding-top: 60px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 15px;
    transition: opacity 0.3s;
}


footer {
    text-align: left;
    padding: 40px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}