
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #8ba3e8, #98e0d2);
    color: #000;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.logo {
    width: 250px;
    height: 50px;
    font-size: 12px;
    text-align: center;
}

main {
    padding: 40px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.bloc {
    width: 100%;
    height: 80px;
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 4px;
    margin-bottom: 40px;
    background-color: rgba(255,255,255,0.2);
}

footer {
    text-align: left;
    padding: 40px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu-button {
    position: fixed;
    top: 40px;        
    right: 105px;     
    width: 67px;
    height: 67px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
}

.menu-button::before,
.menu-button::after {
    content: "";
    width: 19px;         
    height: 3px;         
    background: #333;  
    position: absolute;
}

/* trait du haut */
.menu-button::before {
    transform: translateY(-3px);
}

/* trait du bas */
.menu-button::after {
    transform: translateY(3px);
}