
/* ------------------------------------------------

CSS PAGE UNE 

------------------------------------------------ */

/*logo game freak */
header>.img1{
    width: 30%;
    max-width: 350px;
    margin-left: 5%;
    min-width: 250px;
    margin-top: -430px;
    position: fixed;
    z-index: 9999;
    animation: intro 2s ease-out;
}

/* titre de la page */
header>h1{
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin-top: 300px;
    margin-bottom: 300px;
    animation:  intro 2s ease-out;
}

/* image ronde */
.imgronde{
    background: black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url(img/img/img3.png);
}

/* ancre */
.block {    
    scroll-snap-align: start; /* ancre */
    display: flex;
    padding: 20px 50px;
    flex-wrap: wrap;
}

/* image ronde + paragraphe */
.bloc{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;             
    padding: 20%;      
}


/*  premier paragraphe explicatif de la page 1 */
p{  
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}


/* bouton "Ouvrir le formulaire" */
footer .bouton{
    position: fixed;
    bottom: 20px;
    left: 50%;
    padding: 12px 28px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #6a5cff, #4fc3f7);
    color: white;
    margin-left: -100px;
    text-decoration: none;
    animation:  intro 2s ease-out;
}

/* bouton "Ouvrir le fomulaire quand il y a la souris */
footer .bouton:hover {
    transform: scale(1.2); 
    background: black;
}

/* image de fond du site */
body{
    background-color: aliceblue;
}

/* tansition scroll */
html, body {
    margin: 0;
    scroll-snap-type: y mandatory; /* transition scroll */
    font-family: Arial, sans-serif;
}

/* formulaire */
form {
  display: flex;
  flex-direction: column;   
  align-items: center;         
  gap: 20px;                   
  height: 100%;
}

/* bouton dans le formulaire "Se connecter" */
form button {
  margin-top: auto;  
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 50%;
  text-align: center;
  text-decoration: none;
}

/* quand on passe la souris sur le bouton "Se connecter" */
form button:hover{
    background-color: black;
    color: white;
    transform: scale(1.2);
}

/* enleve la puce de la liste dans le formulaire */
form>li{
    list-style-type: none;
}

/* pour avoir la fomulaire en avant plan et effet de fond */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    display: none;
    z-index: 10;
}

/* quand on appuie sur le bouton elle ouvre le formualaire*/
.modal:target {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* taille du formulaire et son arriere plan */
.box {
  background: rgb(227, 227, 230);
  padding: 100px;
  width: 500px;
  position: relative;   
  font-size: 1.2rem;
  border-radius: 20px;
  border: 2px black;
  box-shadow: 0 15px 15px rgba(0,150,200, 0.50);
}


/* pour fermer le formulaire */
.close {
  position: absolute;
  right: 10px;
  top: 5px;
  text-decoration: none;
  color: black;
}
form>li>input{
    border: solid 2px rgb(0, 191, 255);
    border-radius: 5px;
    padding: 10px;
}

form>li>label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

@keyframes intro {
    from { opacity: 0; transform: scale(0.7); }
    to   { opacity: 1; transform: scale(1); }   
}


/* ----------------------------------------

CSS PAGE DU MENU 

------------------------------------- */

/* lien vers les autres page */
.lien{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}


body>.menu{
    padding-top: 10%;
}

/* couleur de l'arriere plan */
.page2{
      background: rgb(136, 201, 228);
}

/* logo game freak */
.logopage2{
    margin-top: 30px;
    width: 30%;
    max-width: 350px;
    min-width: 250px;
    position: fixed;
    z-index: 9999;
}




