/* Text de la page */
* {
  font-family: Arial, sans-serif;
}

/* Sinon ça marche pas */
body {
  margin: 0;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 300px;
}

/* Pour etre cote a cote */
main {
  display: flex;
  min-height: 100vh;
}

label{
    size: 50px;
}

input{
    transform: scale(1.4);
    margin: 5px;
}

/* Filtres */
.filtres {
  width: 230px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  margin: 30px;
  height: fit-content;
}

/* Titre filtres */
.filtres h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Champs déroulants */
.filtres select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background-color: #f9f9f9;
}  



footer .bouton{
    position: fixed;
    bottom: 20px;
    left: 47%;
    padding: 12px 28px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #6a5cff, #4fc3f7);
    color: white;
    margin-left: -100px;
    text-decoration: none;
    animation:  intro 2s ease-out;
}

/* bouton "Ouvrir le fomulaire quand il y a la souris */
footer .bouton:hover {
    transform: scale(1.2); 
    background: black;
}


.zonetext textarea {
    display: flex;
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 20px;
}

aside>label{
    display: block;
    flex-direction: column;
}

.menu-button {
    position: fixed;
    top: 40px;        
    right: 105px;     
    width: 67px;
    height: 67px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
}

.menu-button::before,
.menu-button::after {
    content: "";
    width: 19px;         
    height: 3px;        
    background: #333;  
    position: absolute;
}

/* trait du haut */
.menu-button::before {
    transform: translateY(-3px);
}

/* trait du bas */
.menu-button::after {
    transform: translateY(3px);
}